<div>

    <form class="simple-form">

        <h3>Convertible Car</h3>

        <label for="marka">Name:</label>
        <input ng-model="vehiclea.qname" id="marka" name="marka" type="text" placeholder="Marka" required> <br>

        <label for="boja">Color:</label>
        <input ng-model="vehiclea.qcolor" id="boja"  name="boja" type="text" placeholder="Boja" required> <br>

        <label for="seatNbr">Number Of Seats:</label>
        <input ng-model="vehiclea.qnumberOfSeats" id="seatNbr"  name="seatNbr" type="number" placeholder="Broj Sedista" required> <br>

        <label for="equipment">Equipment:</label>
        <input ng-model="vehiclea.qequipment" id="equipment"  type="text" name="equipment" placeholder="Oprema" required> <br>

        <label for="roof">Roof type:</label>
        <select ng-model="vehiclea.qroof" class="form-select" id="roof"  name="roof" required>
            <option>Foldable</option>
            <option>Removable</option>
        </select>
        <input class="submitButton"  type="submit" value="Create!" ng-click="saveConvertible(vehiclea)">

    </form>

    <table style="width:98.5%">
        <th>ID</th>
        <th>Name</th>
        <th>Color</th>
        <th>Equipment</th>
        <th>Number Of Places To Stand</th>
        <th>Roof type</th>

        <tr ng-repeat="listaAutobusa in listOfVehicles">
            <td>
                {{listaAutobusa.parking_id}}
            </td>
            <td>
                {{listaAutobusa.marka}}
            </td>
            <td>
                {{listaAutobusa.boja}}
            </td>
            <td>
                {{listaAutobusa.seatNbr}}
            </td>
            <td>
                {{listaAutobusa.equipment}}
            </td>
            <td>
                {{listaAutobusa.roof}}
            </td>
        </tr>
    </table>
</div>